@charset "utf-8";

/*---------------------------------
  
  0.header

  1.main
    1.1️⃣ Bolt Theme（タイトル）
    1.2️⃣ WHAT WE CAN DO?（詳細）
    1.3️⃣ OUR LATEST WORK（仕事、画像）
    1.4️⃣ OUR SKILLS（技術）
    1.5️⃣ SNS LINKS TAG（SNSへのリンクタグ）

  2.footer

  ・🟥🟥🟥  PC用  🟥🟥🟥
  ・🟦🟦🟦  TAB用  🟦🟦🟦
  ・🟨🟨🟨  SP用  🟨🟨🟨

---------------------------------*/

/*---------------------------------
  全体共通
---------------------------------*/

body {
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.button {
  background-color: #74cfae;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: 0.7s;
  display: block;
}

.button:hover {
  color: #333;
}

.section-title {
  font-size: 24px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.contents {
  width: 1100px;
  margin: 0 auto;
}

/*---------------------------------
  0.header
---------------------------------*/

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 15px 0;
  /* margin: 0 auto;
  width: 1100px; */
}

/*
  アイコン
---------------------------------*/

.header-icon {
  font-size: 40px;
}

/*
  ボタン
---------------------------------*/

.is-header-button {
  padding: 14px 12px;
  border: 1px solid #fff;
}

/*
  メニューバー（ header ）
--------------------------------*/
.header-contact-bar {
  display: none;
}

/*---------------------------------
  1.1️⃣ Bolt Theme（タイトル）1️⃣
---------------------------------*/

.title {
  margin-top: 70px;
  background-color: #f2f2f2;
}

.title-inner {
  text-align: center;
  padding: 250px 0;
}

/*
  タイトル
---------------------------------*/

.title-top {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  line-height: 95px;
  font-family: "Raleway", sans-serif;
  /* margin-bottom: 20px; */
}

/*
  テキストタイトル
---------------------------------*/

.title-text {
  font-size: 30px;
  color: #c0c0c0;
  line-height: 40px;
  margin-top: 20px;
}
/*---------------------------------
  1.2️⃣ WHAT WE CAN DO?（詳細）2️⃣
---------------------------------*/
.global {
  background-color: #74cfae;
}

.global-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  /* margin: 0 auto;
  width: 1100px; */
}

/*
  global（画像：スマートフォン）
---------------------------------*/

.global-thumb {
  margin-left: 100px;
}

/*
  global（テキスト）
---------------------------------*/

.global-note {
  text-align: center;
  color: #fff;
  /* width: 650px; */
  width: 60%;
  line-height: 25px;
}

.is-global {
  margin-top: 20px;
}

.global-text {
  font-size: 20px;
  /* font-family: "Lato", sans-serif; */
  margin-top: 35px;
}

/*---------------------------------
  1.3️⃣ OUR LATEST WORK（仕事、画像）3️⃣
---------------------------------*/

.content {
  background-color: #f2f2f2;
}

.content-inner {
  padding: 60px 0 70px;
  /* margin: 0 auto;
  width: 1100px; */
}

/*
  タイトル（OUR LATEST WORK）
---------------------------------*/

.is-content {
  /* margin-bottom: 40px; */
  color: #333;
}

/*
  画像（6つ）
---------------------------------*/

.content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.content__item {
  margin: 0 100px 80px 0;
  opacity: 0.7;
  transition: 0.7s;
  font-size: 0;
}

.content__item:hover {
  opacity: 1;
}

.content__item:nth-child(3n) {
  margin: 0;
}

.content__item:nth-child(n + 3) {
  margin-bottom: 0;
}

/*
  テキスト（OUR LATEST WORK）
---------------------------------*/

.content-catch {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 90px;
}

.content-catch-text {
  color: #333;
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  /* font-family: "Lato", sans-serif; */
  /* width: 580px; */
  width: 53%;
  margin-right: 90px;
}

.is-content-button {
  padding: 14px 20px;
  border: 1px solid #74cfae;
  white-space: nowrap;
}

/*---------------------------------
  1.4️⃣ OUR SKILLS（技術）4️⃣
---------------------------------*/

.skill {
  background-color: #4e4e4e;
}

.skill-inner {
  padding: 70px 0 100px;
  /* width: 1100px;
  margin: 0 auto; */
}

/*
  タイトル（OUR SKILLS）
---------------------------------*/

.is-skill {
  color: #fff;
  /* margin-bottom: 30px; */
}

/*
  画像（OUR SKILLS）
---------------------------------*/

.skill-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.skill__item {
  margin-left: 180px;
}

.skill__item:first-child {
  margin-left: 0;
}

.skill__item img {
  margin-bottom: 15px;
}

.skill__item-text {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

/*---------------------------------
  1.5️⃣ SNS LINKS TAG（SNSへのリンクタグ）5️⃣
---------------------------------*/

.sns {
  background-color: #f2f2f2;
}

.sns-inner {
  display: flex;
  justify-content: center;
  padding: 200px 0;
  /* width: 1100px;
  margin: 0 auto; */
}

/*
  アイコンボタン（SNS LINKS TAG）
---------------------------------*/

.sns__text-button {
  font-size: 40px;
  padding: 30px;
  width: 185px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  transition: 0.7s;
}

.sns__text-button:hover {
  background-color: #fff;
}

.sns__text-button a {
  color: #74cfae;
}

/*---------------------------------
  2.footer
---------------------------------*/

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px;
  /* width: 1100px;
  margin: 0 auto; */
}

.footer-text {
  text-align: right;
  color: #fff;
}

/* **************************
  🟦🟦🟦  TAB用  🟦🟦🟦
 ************************** */

@media screen and (max-width: 1199px) {
  /*---------------------------------
    共通
  ---------------------------------*/

  .contents {
    width: 97%;
  }

  /*---------------------------------
  1.2️⃣ WHAT WE CAN DO?（詳細）2️⃣
  ---------------------------------*/

  .global-inner {
    flex-direction: column;
    padding-bottom: 25px;
  }

  /*
  global（画像：スマートフォン）
  ---------------------------------*/

  .global-thumb {
    margin: 0 0 20px 0;
  }

  /*
  global（テキスト）
  ---------------------------------*/

  .global-note {
    width: 80%;
  }

  /*---------------------------------
  1.3️⃣ OUR LATEST WORK（仕事、画像）3️⃣
  ---------------------------------*/

  /*
  テキスト（OUR LATEST WORK）
  ---------------------------------*/

  .content-catch {
    flex-direction: column;
    align-items: center;
  }

  .content-catch-text {
    margin: 0;
    line-height: 25px;
    width: 100%;
  }

  .is-content-button {
    margin-top: 40px;
  }

  /*
  画像（6つ）
  ---------------------------------*/

  .content-list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .content__item {
    margin: 0;
  }

  .content__item:nth-child(3) {
    margin-bottom: 80px;
  }

  /*---------------------------------
  1.4️⃣ OUR SKILLS（技術力）4️⃣
  ---------------------------------*/

  /*
  画像（OUR SKILLS）
  ---------------------------------*/

  .skill-list {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .skill__item {
    margin: 88px 0 0 0;
  }
  .skill__item:first-child {
    margin: 0;
  }
}

/* **************************
  🟨🟨🟨  SP用  🟨🟨🟨
  ************************** */

@media screen and (max-width: 767px) {
  /*---------------------------------
  1. header（ヘッダー）
  ---------------------------------*/

  /*
  アイコン（ header ）
  ---------------------------------*/

  .header-icon {
    font-size: 60px;
  }

  /*
  メニューバー（ header ）
  ---------------------------------*/

  .header-contact-bar {
    color: #ddd;
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .header-bar-line {
    width: 20px;
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 4px;
  }

  .header-bar-line:first-child {
    margin-top: 2px;
  }
  .is-header-button {
    display: none;
  }

  /*---------------------------------
  1.1️⃣ Bolt Theme（タイトル）1️⃣
  ---------------------------------*/

  .title-inner {
    padding: 160px 0 130px;
  }

  /*
  タイトル
  ---------------------------------*/

  .title-top {
    font-size: 80px;
  }

  /*---------------------------------
  1.2️⃣ WHAT WE CAN DO?（詳細）2️⃣
  ---------------------------------*/

  /*
  global（画像：スマートフォン）
  ---------------------------------*/

  .global-thumb {
    margin: 0 0 20px 0;
  }

  /*
  global（テキスト）
  ---------------------------------*/

  .global-note {
    width: 100%;
    line-height: 30px;
  }

  /*---------------------------------
  1.5️⃣ SNS LINKS TAG（SNSへのリンクタグ）5️⃣
  ---------------------------------*/

  .sns-inner {
    flex-direction: column;
    padding: 50px 0;
    margin: 0 15px;
  }

  /*
  アイコンボタン（SNS LINKS TAG）
  ---------------------------------*/

  .sns__text-button {
    color: #74cfae;
    font-size: 50px;
    padding: 40px;
    width: 100%;
  }
}
